<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://use.typekit.net/bnm7pbu.js"></script>
    <script>try{Typekit.load({ async: false });}catch(e){}</script>

    <title>Scaling SaaS<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>

    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :all %>
  </head>
  <body>
    <div class="site-container">
      <div class="page-header">
        <h1 class="site-title">
          <img src="/images/logo.svg" alt="Logo" class="logo" />
          Scaling SaaS
        </h1>

        <ul class="page-header-nav">
          <li class="page-header-nav-item">
            <a href="#">About</a>
          </li>

          <li class="page-header-nav-button">
            <a href="#" class="button">Get Updates</a>
          </li>
        </ul>
      </div>

      <div class="main-content">
        <%= yield %>
      </div>

      <aside class="sidebar">
        <div class="sidebar-block">
          <h3 class="sidebar-block-heading">New here?</h3>
          <div class="sidebar-block-content">
            <p>Scaling SaaS is a blog about building and scaling
              software-as-a-service apps through the lens of a technical founder.</p>
          </div>
        </div>

        <!-- <div class="sidebar-block yellow">
          <h3 class="sidebar-block-heading">Dealing with Feature Requests: A Free Email Course</h3>
          <div class="sidebar-block-content">
            <p>Scaling SaaS is a blog about building and scaling
              software-as-a-service apps through the lens of a technical founder.</p>

            <input type="text" />
            <input type="submit" />
          </div>
        </div> -->
      </aside>
    </div>
  </body>
</html>
