<div class="podcast-post">
  <a href="<%= article.data[:podcast][:url] %>" class="podcast-post-artwork">
    <%= image_tag "/images/podcast-artwork/#{article.data[:podcast][:id]}.jpg", class: "podcast-post-artwork" %>
  </a>

  <div class="podcast-post-body">
    <%= article.body %>
  </div>
</div>

<p>
  This is episode <strong><%= article.data[:podcast][:episode_number] %></strong>
  of <em><%= podcast_name(article.data[:podcast][:id]) %></em>.
</p>

<p>
  <%= link_to "Listen Now &rarr;", article.data[:podcast][:url] %>
</p>
